* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-size: 1rem;
}

:root {
  --color-lightGreen: #ACDF87;
  --color-plightGreen: #68BB59;
  --color-parrotGreen: #A4DE02;
  --color-pparrotGreen: #4C9A2A;
  --color-darkGreen: #1E5631;
  --color-white: #ffffff;
  --color-grey1: #b2becd;
  --color-grey2: #6c7983;
  --color-grey3: #454e56;
  --color-black: #000;
  --box-shadow: 0 3px 15px rgba(0,0,0,0.5);
}

#img1 {
  width: 110px;
  margin: 20px;
  cursor: pointer;
}

#img2 {
  position: fixed;
  width: 32%;
  right: 15%;
}

.title-hi {
  color: var(--color-white);
  position: fixed;
  margin-top: 140px;
  left: 40%;
  font-size: 13vh;
}

.title-next {
  font-size: 9vh;
  color: var(--color-white);
  position: fixed;
  margin-top: 250px;
  left: 40%;
}

.title-name1 {
  color: var(--color-darkGreen);
  font-size: 10vh;
  right: 20%;
}

.title-name2 {
  color: var(--color-darkGreen);
  font-size: 10vh;
  margin-right: 110px;
}

@media screen and (max-width: 768px) {
  .title-hi {
    font-size: 30px;
    letter-spacing: 5px;
  }
  .title-next {
    font-size: 30px;
    letter-spacing: 5px;
  }
  .title-name1 {
    font-size: 30px;
    letter-spacing: 5px;
  }
  .title-name2 {
    font-size: 30px;
    letter-spacing: 5px;
  }
}
#img3 {
  position: fixed;
  top: 30%;
  width: 30%;
  left: 5%;
}

body {
  background-color: var(--color-lightGreen);
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

.controlClass {
  position: fixed;
  z-index: 10;
  top: 20%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(-50%);
}
.controlClass .control {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-pparrotGreen);
  position: relative;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.7rem 0;
  box-shadow: var(--box-shadow);
}
.controlClass .control i {
  font-size: 1.3rem;
}

.active-btn:focus {
  background-color: var(--color-darkGreen);
  transition: all 0.4s ease-in-out;
}

#tooltip {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-color: var(--color-pparrotGreen);
  color: var(--color-white);
  white-space: nowrap;
  padding: 10px 15px;
  border-radius: 7px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#tooltip::before {
  content: "";
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 100%;
}

.control:hover #tooltip {
  visibility: visible;
  opacity: 1;
  width: 100px;
  height: 58px;
  align-items: center;
  justify-content: auto;
  text-align: center;
  font-weight: 600;
  padding-top: 15px;
  border-radius: 50%;
}

.container {
  width: 70%;
  height: -moz-max-content;
  height: max-content;
  margin: auto;
  position: relative;
  text-align: center;
  align-items: center;
}

.title-blog {
  color: var(--color-darkGreen);
  text-align: center;
  font-size: 30px;
  margin-top: -10px;
}

.main-content-blog {
  justify-content: center;
}

.card-blog {
  width: 40%;
  background-color: var(--color-plightGreen);
  border-radius: 10px;
  margin: 4%;
  box-shadow: 2px 2px 10px var(--color-darkGreen);
  display: inline-block;
  align-items: center;
  text-align: center;
}

.card-blog-image img {
  width: 100%;
  height: 225px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-blog-title {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  color: var(--color-black);
}

.card-btn button {
  margin: 15px;
  background-color: var(--color-darkGreen);
  color: var(--color-white);
  padding: 2%;
  width: 65px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 7px;
  cursor: pointer;
}

.title-contact {
  color: var(--color-darkGreen);
  text-align: center;
  font-size: 28px;
  margin-top: -20px;
  margin-bottom: 10px;
}

.main-content-contact {
  text-align: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  margin-top: 50px;
}

.contact-name1 {
  font-size: 25px;
  font-weight: 500;
}

.contact-name2 {
  font-size: 25px;
  font-weight: 500;
}

.contact-name3 {
  font-size: 25px;
  font-weight: 500;
}

.contact-container {
  width: 80%;
  align-items: center;
  margin: auto;
  margin-top: 40px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px var(--color-darkGreen) inset;
  border-width: 10px;
  margin-bottom: 50px;
}

.contact-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-container input {
  border-color: var(--color-darkGreen);
  border-width: 4px;
  color: var(--color-darkGreen);
  height: 40px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 15px;
}

.contact-container textarea {
  border-color: var(--color-darkGreen);
  border-width: 4px;
  color: var(--color-darkGreen);
  height: 100px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 15px;
  padding-top: 5px;
}

.contact-container textarea::-moz-placeholder {
  border-color: var(--color-darkGreen);
  color: var(--color-darkGreen);
  font-size: 18px;
}

.contact-container textarea::placeholder {
  border-color: var(--color-darkGreen);
  color: var(--color-darkGreen);
  font-size: 18px;
}

.contact-container input::-moz-placeholder {
  border-color: var(--color-darkGreen);
  color: var(--color-darkGreen);
  font-size: 18px;
}

.contact-container input::placeholder {
  border-color: var(--color-darkGreen);
  color: var(--color-darkGreen);
  font-size: 18px;
}

#sbtn {
  width: 90px;
  height: 35px;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  background-color: var(--color-darkGreen);
  color: var(--color-white);
  font-size: 18px;
}

.social {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.social img {
  width: 40%;
  height: 40%;
  margin: auto;
}

.social a {
  color: var(--color-white);
  font-size: 10px;
}

.main-content-about {
  align-items: center;
  text-align: center;
  margin: auto;
}

.title-about {
  color: var(--color-darkGreen);
  text-align: center;
  font-size: 28px;
  margin-top: -20px;
  margin-bottom: 10px;
}

#img4 {
  width: 50%;
  margin-top: 25px;
}

.card-about {
  background-color: var(--color-plightGreen);
  color: var(--color-white);
  width: 60%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 30px;
  justify-content: space-between;
  border-radius: 20px;
}

.skill-title {
  color: var(--color-darkGreen);
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 800;
}

.skill-icon-container {
  background-color: var(--color-white);
  margin: auto;
  padding: 25px;
  width: 80%;
  border-radius: 20px;
}

.skill-icon {
  width: 14%;
  margin: 10px;
}

.title-work {
  color: var(--color-darkGreen);
  text-align: center;
  font-size: 30px;
  margin-top: -10px;
}

.card-work {
  width: 70%;
  background-color: var(--color-plightGreen);
  border-radius: 20px;
  margin: auto;
  box-shadow: 2px 2px 10px var(--color-darkGreen);
  align-items: center;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
}

.card-work-image img {
  width: 100%;
  height: 100%;
}

.card-work-title {
  font-size: 25px;
  font-weight: 600;
  padding: 12px;
  background-color: var(--color-plightGreen);
  color: var(--color-black);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-work-desc {
  padding: 25px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.card-github img {
  cursor: pointer;
  width: 14%;
}/*# sourceMappingURL=styles.css.map */